@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

footer {
  padding: 2em 0;
  /* border-top: 1px solid #cdd0d8; */
  box-shadow: 6px 2px 4px 0 rgba(0, 0, 0, 0.8);
}

.footer-names {
  text-align: center;
  letter-spacing: 1px;
}

footer p,
footer .footer-icon {
  opacity: 0.4;
}

.footer-icon {
  font-size: 2.5rem;
}

.footer-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.todo {
  background-color: #52AEBE;
}

.inprogress {
  background-color: #FC886F;
}

.inreview {
  background-color: #C5A464;
}

.done {
  background-color: #77C9A8;
}
